@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,wght@1,900&family=Oswald:wght@700&family=Padyakke+Expanded+One&family=Roboto+Mono:wght@500&family=Sofia+Sans:ital,wght@1,400;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

:root{
  --fonte-anton: 'Anton', sans-serif;
  --fonte-destaque: 'Bebas Neue', cursive;
  --fonte-crimson: 'Crimson Text', serif;
  
}
*{
  padding: 0px;
  margin: 0px;
}
header{
  margin: auto;
  
  width: 100%;
  height: 155px;
  text-align: center;
  font-family: var(--fonte-destaque);
  color: rgb(255, 255, 255);
  padding-top: 0px
  
  
}
header p{
  font-size: 25pt;
  padding: 0px;
}

main{
  margin: auto;
  max-width: 1000px;
  max-height: 100%;
  padding: 30px;
  margin-top: 10px;
}

nav{
  
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.301);
  font-size: 18pt;
  position: static;
  
  
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: var(--fonte-destaque);
  font-size: 18pt;
  padding: 10px;
  margin: auto;
}

nav a:hover{
  background-color: rgb(110, 110, 110);
  color: white;
  
}

footer{
  background-color: rgb(211, 77, 77);
  color: rgb(255, 255, 255);
  font-family: var(--fonte-destaque);
  margin-top: 20px;
  text-align: center;
  font-size: 13pt;
}
section{
    text-align: center;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    

}
 
header h1{
  font-size: 30pt;
  padding-top: 20px;
}
h1{
  font-size: 20pt;
}
h2{
  padding: 20px;
  font-size: 15pt;
}
p{
  padding: 20px;
  text-align: center;
  font-size: 20pt;
  font-family: var(--fonte-destaque);
}
#chart_wrap {
    display: flex;
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: auto;
    margin: auto;
}

#piechart {
    
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

